<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="fonts/fontawesome/css/all.css">
    <title>Admin Login</title>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <a href="/" class="navbar-brand">Bookstore</a>
            <a href="/cart" class="navbar-text text-white">
                <span class="fw-bold">Корзина</span>
                <span class="px-2">/</span>
                <span class="fw-bold">${{totalPrice}}</span>
                <i class="fas fa-shopping-basket px-2"></i>
            </a>
        </div>
    </nav>
    
    <div class="container mx-auto py-10">
      <h1 class="text-center text-indigo-500 my-5 fs-3 fw-bold">Admin Login</h1>
    <form class="max-w-md mx-auto p-3 p-md-5 bg-white rounded-md shadow" method="post" action="/admin/dashboard">
      <div class="mb-3">
        <label class="form-label text-gray-500 font-semibold" for="username">Логин</label>
        <input class="form-control border border-gray-300 rounded-md py-2" type="text" id="username" name="username" autocomplete="off" value="admin" placeholder="login -> admin">
      </div>
      <div class="mb-3">
        <label class="form-label text-gray-500 font-semibold" for="password">Пароль</label>
        <input class="form-control border border-gray-300 rounded-md py-2" type="password" id="password" name="password" autocomplete="off" value="password" placeholder="password -> password">
      </div>
      <div>
        <button class="btn btn-primary fw-bold w-100 py-2 rounded-md" type="submit">Войти</button>
      </div>
    </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>