<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="fonts/fontawesome/css/all.css">
    <title>Admin Login</title>
  </head>
  <nav class="bg-gray-800 p-6">
      <div class="container mx-auto flex justify-between items-center">
          <a href="/" class="text-lg font-semibold text-white hover:text-indigo-500">Bookstore</a>
          <a href="/cart" class="flex items-center text-white hover:text-indigo-500">
              <span class="font-bold">CART</span>
              <span class="px-2">/</span>
              <span class="font-bold">${{totalPrice}}</span>
              <i class="fas fa-shopping-basket px-2"></i>
          </a>
      </div>
  </nav>
  
  <body class="bg-gray-100">
    <h1 class="text-3xl text-center font-semibold text-indigo-500 my-10">Admin Login</h1>
    <form class="max-w-md mx-auto p-6 bg-white rounded-md shadow-md" method="post" action="/admin/dashboard">
      <div class="mb-4">
        <label class="block text-gray-500 font-semibold" for="username">Username</label>
        <input class="mt-1 border border-gray-300 px-3 py-2 w-full rounded-md focus:outline-none focus:border-indigo-500" type="text" id="username" name="username" />
      </div>
      <div class="mb-4">
        <label class="block text-gray-500 font-semibold" for="password">Password</label>
        <input class="mt-1 border border-gray-300 px-3 py-2 w-full rounded-md focus:outline-none focus:border-indigo-500" type="password" id="password" name="password" />
      </div>
      <div>
        <button class="bg-indigo-500 hover:bg-indigo-600 text-white py-2 px-4 rounded-md" type="submit">Login</button>
      </div>
    </form>
  </body>
</html>